div {
 height: 80px;
 background-color: rgb(110, 195, 251);
 padding: 10px 5px;
 transform: translate(0%,30%);
 display: block;
}
      
table,th,td{
 border:2px solid black;
}
      
h1{
 color: royalblue;
}
   
h2{
 font-size: 30px;
}

.button {
 border-radius: 30px;
 color: rgb(248, 248, 248);
 text-align: center;
 background-color: rgb(0, 128, 255);
 height: 50px;
 width: 100px;
 padding: 15px;
 margin: auto;
 display: block;
 cursor: pointer;
 position: middle;
 float:none;       
}