<!DOCTYPE html>
<html>
<head>
   <title>Meeting</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/meeting.css' %}"></link>
 <h1 class="h1">Previous meeting details</h1>
</head>
 
 <br><br>
  
 <font face="Times New Roman" size="5"><table style="width:50%" align="center">
 <tr>
 <th>Semster</th>
 <th>Date and Time</th>
 <th>Description</th>
 <th>Remark</th> 
 </tr>
 {% for item in data %} 
 <tr>
    <td><textarea style="font-size: 20px" name="comments" id="comments" cols="10" rows="2" readonly=True>{{ item.semester }}</textarea></td>
    <td><textarea style="font-size: 20px" name="comments" id="comments" cols="20" rows="2" readonly=True>{{ item.datetime }}</textarea></td>
    <td><textarea style="font-size: 20px" name="comments" id="comments" cols="50" rows="2" readonly=True>{{ item.description }}</textarea></td>
    <td><textarea style="font-size: 20px" name="comments" id="comments" cols="40" rows="2" readonly=True>{{ item.remark }}</textarea></td>
 </tr>
 {% endfor %}

 </font> 
 </table>   
</body>
</html>